.App {
  width: 100vw;
  height: 100vh;
  background: #71B8B4;
  text-align: center;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column;
}

.content{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; 
  position: absolute;
  bottom: 0;
}

.header{
  height: 50px;
  font-family: 'Lobster Two', cursive;
  font-size: 60px;
  display: flex;
  color: white;
  align-items: left;
}