.App {
  width: 100vw;
  height: 100vh;
  background: #71B8B4;
  text-align: center;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column;
}

.appnavigation{
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
}


.header{
  position: abolute;
  height: 50px;
  font-family: 'Lobster Two', cursive;
  font-size: 60px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  padding: 20px;
}