.App {
  width: 100vw;
  height: 100vh;
  background: #71B8B4;
  text-align: center;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
}
.App button {
  font-family: 'Raleway', sans-serif;
}
.app-display{
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.header{
  position: abolute;
  height: 5rem;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.title{
  font-family: 'Lobster Two', cursive;
  position: absolute;
  top: .5rem;
  left: .5rem;
  font-size: 4rem;
}

.learnmore-button{
  position: absolute;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 5rem;
  font-size: 1rem;
  border: none;
  border-radius:.5rem;
  background: #5193B3;
  color: white;
  margin: 2rem;
  cursor: pointer; 
}

