
.nav{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    position: absolute;
    size: 100px;
}

.x-button{
    position: relative;
    top: -10px;
    left: -10px;
}