/* .water-input{
    height: 200px;
    width: 300px;
    background: blue;
    color: white;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  } */

  

  .amount-button{
    width: 30px;
    display: flex;
    justify-content: center;

  }

  .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .content input{
    height: 30px;
    background: #5193B3;
    border-width: 2px;
    border-color: #4A64AD;
    color: white;
    border-radius: 15px;
  }
  
  .content button {
    border-radius: 15px;
    background: #5193B3;
    border-width: 2px;
    border-color: #4A64AD;
    color: white;
  }

  ::placeholder{
    color: #C4C4C4;
  }

.waterinput{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.display{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  background: white;
  margin: 10px;
}